.menu {
    min-width: 200px;
    width: 300px;
    height: 30%;
    text-align: center;
}

.profile-container {
    background: black;
    padding: 30px;
}

.profile-name {
    padding: 10px;
    color: white;
}

.profile-image {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
}

.profile-data-container {
    padding: 30px;
}

.profile-data {
    margin-bottom: 20px;
    text-align: left;
}